* {
    cursor: default;
    box-sizing: border-box;
}

.leftSideBar {
    position: fixed;
    left: 0;
    top: 0;
    width: 150px;
    line-height: 50px;
    padding: 10px;
    background-color: #fafafa;
}

.mainWindow {
    margin-left: 150px;
}
